modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
OWNER_ADDRESS = "0x31bF8708f2E7Bd9eefa57557be8100057132f3eC"
VALIDATOR_ADDRESS = "0x31bF8708f2E7Bd9eefa57557be8100057132f3eC"
VITE_BRIDGE_BSC = "0x49daa7A1109d061BF67b56676def0Bc439289Cb8"
BSC_BRIDGE = "0x49daa7A1109d061BF67b56676def0Bc439289Cb8"
VITE_BRIDGE_ARBITRUM = "0x49daa7A1109d061BF67b56676def0Bc439289Cb8"
ARBITRUM_BRIDGE = "0x49daa7A1109d061BF67b56676def0Bc439289Cb8"
VITE_WRAPPED_FORGAI_ARBITRUM = "0x1452280dDa6Fa4C815f95B06cc15d429aEb0d917"
WRAPPED_FORGAI_ARBITRUM = "0x1452280dDa6Fa4C815f95B06cc15d429aEb0d917"
VITE_BRIDGE_ETHEREUM = "0x49daa7A1109d061BF67b56676def0Bc439289Cb8"
ETHEREUM_BRIDGE = "0x49daa7A1109d061BF67b56676def0Bc439289Cb8"
VITE_WRAPPED_FORGAI_ETHEREUM = "0x1452280dDa6Fa4C815f95B06cc15d429aEb0d917"
WRAPPED_FORGAI_ETHEREUM = "0x1452280dDa6Fa4C815f95B06cc15d429aEb0d917"
